@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 256 16% 12%;
    --foreground: 0 0% 100%;
    --card: 256 16% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 256 16% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 24 94% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 16% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 256 16% 16%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 24 94% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 256 16% 20%;
    --input: 256 16% 20%;
    --ring: 24 94% 53%;
    --radius: 0.75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}